/*General*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-font: 'Barlow Semi Condensed', sans-serif;
    --code-font: Consolas, monaco, monospace; 
    
    --main-text-color: #111111;
    --soft-text-color: #0c5a52;
    --softer-text-color: #00ae9c;
    --main-color-blue: #00ffe5;
    --main-color-red: #e81868;
    --main-dark-color: #111111;

    --color-dark-grey: #333;
    --color-soft-grey: #666;
    --color-softer-grey: #ddd;

    --sidebar-width:75px;
    --container-width: 100%;
    --container-padding: 0 8rem;
}
* {
    font-family: var(--main-font);
    color: var(--main-text-color);
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
html {    
  overscroll-behavior: none;
}
html * {
    overscroll-behavior: auto;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
strong, i, span {
    color: inherit;
    font-size: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
a {
    color: var(--main-link-color);
    text-decoration: none;
}
a:hover {
    color: var(--main-link-hover-color);
}
html, body {
    overflow-y: hidden;
}
body {
    background-color: var(--main-color-blue);
    height: 100vh;
}
#content {
    padding-top: 300px;
}
.container {
    width: 100%;
    padding: var(--container-padding);
}
.section-home {
    height: 100vh;
    width: 100%;
}
.button {
    display: inline-block;
    font-size: 22px;
    color: #ffffff;
    background-color: var(--main-dark-color);
    transition: background-color 150ms ease-in-out;
    padding: 0.6rem 1.4rem 0.9rem;
    border-radius: 5px;
}
.button:hover {
    background-color: var(--main-color-red);
    transition: background-color 150ms ease-in-out;
    color: #ffffff;
}
.hidden {
    display:none;
    opacity: 0;
    visibility: hidden;
}

/* Anmate In */
@keyframes animateIn {
    0%   { opacity: 0%; filter: blur(1px); }
    50%  { filter: blur(1px); }
    100% { opacity: 100%; filter: blur(0px); }
}
@keyframes animateInRed {
    0%   { opacity: 0%; transform: translateX(-5px); filter: blur(2px); }
    25%  { opacity: 100%; }
    50%  { opacity: 100%; filter: blur(2px); }
    100% { opacity: 0%; transform: translateX(0px); }
}
@keyframes animateInWhite {
    0%   { opacity: 0%; transform: translateX(10px); filter: blur(2px); }
    25%  { opacity: 100%; transform: translateX(10px);}
    50%  { opacity: 100%; filter: blur(2px); }
    100% { opacity: 0%; transform: translateX(0px); }
}

/*Main Header*/
#main-header {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    padding: 2rem 0;
    position: fixed;
    z-index: 11;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 255, 229, 0.9);
}
#main-nav {
    opacity: 0;
}
#main-nav .menu-item {
    display: inline-block;
}
#main-nav .menu-item {
    display: inline-block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    color: var(--softer-text-color);
    font-size: 18px;
    font-weight: 500;
    transition: color 300ms ease-in-out;
}
#main-nav .menu-item:hover {
    color: var(--main-color-red);
    transition: color 300ms ease-in-out;
}
#main-nav .menu-item.active {
    color: var(--main-text-color);
}

/* Sidebar */
#sidebar {
    width: var(--sidebar-width);
    transform: translateX(-100%);
    background-color: var(--main-dark-color);
    position: fixed;
    z-index: 12;
    transition: width 300ms ease-in-out;

    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes sidebar {
    0%   { transform: translateX(-100%); box-shadow: 0px 0 0 var(--main-color-red), 0px 0 0 rgba(255,255,255,0.5),inset -15px 0 0 rgb(232, 24, 104, 0.5);}
    40%  { box-shadow: 10px 0 0 var(--main-color-red), 10px 0 0 rgba(255,255,255,0.5), inset -15px 0 0 rgb(232, 24, 104, 0.5);}
    60%  { transform: translateX(0); box-shadow: 0px 0 0 var(--main-color-red), 10px 0 0 rgba(255,255,255,0.5), inset -15px 0 0 rgb(232, 24, 104, 0.5);}
    100% { transform: translateX(0); box-shadow: 2px 0 0 var(--main-color-red), 5px 0 0 rgba(255,255,255,0.5), inset 0px 0 0 var(--main-color-red);}
}
body.modal-on #sidebar {
    width: 100%;
    transition: width 300ms ease-in-out;
    align-items: flex-start;
    display: flex;
}
.sidebar-content {
    width: var(--sidebar-width);
    flex-basis: var(--sidebar-width);
    padding: 20px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
.sidebar-modal {
    display: none;
}
#site-logo {
    display: block;
}
#mobile-site-logo {
    display:none;
    fill: var(--main-dark-color);
    width: 32px;
    height: 32px;
}
#mobile-menu-button {
    display: none;
    fill: var(--main-dark-color);
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#site-logo svg {
    fill: var(--main-color-blue);
    width: 32px;
    height: 32px;
}
#sidebar-links {
    display: inline-block;
}
#sidebar-links a {
    display: block;
}
#sidebar-links a svg {
    fill: var(--main-color-blue);
    width: 28px;
    height: 28px;
    margin-top: 5px;
    transition: fill 150ms linear;
}
#sidebar-links a:hover svg {
    fill: var(--main-color-red);
    transition: fill 150ms linear;
}
.content {
    display: flex;
    height: 100vh;
    margin-left: var(--sidebar-width);
    max-width: calc(100% - var(--sidebar-width));
    z-index: 5;
    background-color: var(--main-color-blue);
    overflow-y: auto;
}
.content.container {
    padding-bottom: 50px;
}
@keyframes sectionOut {
    0%   { opacity: 100%; position: fixed; transform: skewX(-50deg); top: 0; left: 0;}
    10%  { opacity: 100%; position: fixed; transform: skewX(0deg);}
    20%  { opacity: 50%; position: fixed; clip-path: polygon(0% 20%, 100% 20%, 100% 60%, 0% 60%); transform: skewX(0deg);}
    25%  { opacity: 50%; position: fixed; filter: blur(5px);}
    30%  { opacity: 100%; position: fixed; clip-path: polygon(0% 0%, 100% 00%, 100% 100%, 0% 100%); transform: scaleY(100%) skewX(50deg); }
    40%  { opacity: 100%; position: fixed;}
    49%  { opacity: 0; position: fixed; transform: scaleY(0%);}
    50%  { position: relative; opacity: 0;}
    100% { position: relative; opacity: 0;}
}
@keyframes sectionIn {
    0%   { opacity: 0%;}
    50%  { opacity: 0%; filter: blur(5px);}
    99%  { opacity: 100%; filter: blur(0px); z-index: 1;}
    100% { position: fixed; top: 0; left: 0; z-index: 10;}
}
.section-info {
    margin-right: 40px;    
    max-width: 600px;
}

/* Modal */
body.modal-on {
    overflow: hidden;
}
.sidebar-modal-content {
    padding: 100px;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body.modal-on #sidebar .sidebar-modal {
    display: block;
    width: 100%;
    flex-basis: 100%;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 20;
}
.close svg {
    fill: var(--main-color-blue);
    transition: fill 150ms ease-in-out;
}
.close:hover svg {
    fill: var(--main-color-red);
    transition: fill 150ms ease-in-out;
}

@keyframes modalUp {
    0% { opacity: 0; transform: translateY(200px);}
    100% { opacity: 1; transform: translateY(0px);}
}

/* About */
#about-title {
    font-size:240px;
    font-weight: 900;
    position: relative;
    display: block;
    margin-top: -50px;
    line-height: 100%;
    z-index: 0;
}

/* Title Appear */
#title-1, #title-2, #title-3 {
    display: block;
}
#title-2, #title-3 {
    position: absolute;
    left: 0;
    top: 0;
}
#title-1 {
    visibility: hidden;
    opacity: 0.5;
    z-index: 3;
    position: relative;
}
#title-1.appear {
    animation-name: title-1;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes title-1 {
    10%  { visibility: hidden;}
    11%  { visibility: visible; clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);}
    12%  { visibility: hidden; }
    13%  { visibility: visible; }
    14%  { visibility: hidden; }
    15%  { visibility: hidden; }
    16%  { visibility: visible; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
    17%  { visibility: hidden; }
    18%  { visibility: visible; }
    25%  { visibility: visible; }
    26%  { visibility: hidden; }
    54%  { visibility: hidden; transform: translateX(0px);}
    55%  { visibility: hidden; opacity: 0.5; transform: translateX(10px);}
    100% { visibility: visible; opacity: 1; transform: translate(0);}
}
#title-2 {
    visibility: hidden;
    color: #fff;
    z-index: 2;
}
#title-2.appear {
    animation-name: title-2;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes title-2 {
    10%  { visibility: hidden; transform: translateX(2px);}
    11%  { visibility: visible; clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);}
    12%  { visibility: hidden; }
    13%  { visibility: visible; }
    14%  { visibility: hidden; }
    15%  { visibility: hidden; }
    16%  { visibility: visible; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
    17%  { visibility: hidden; }
    18%  { visibility: visible; }
    25%  { visibility: visible; transform: translateX(10px);}
    26%  { visibility: hidden; }
    54%  { visibility: hidden; transform: translateX(0px);}
    75%  { visibility: visible; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
    85%  { visibility: visible; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); opacity: 0.5; }
    86%  { visibility: hidden; opacity: 0.5; transform: translateX(5px);}
    100% { visibility: visible; opacity: 1; transform: translateX(0px);}
}
#title-3 {
    visibility: hidden;
    opacity: 0.5;
    color: var(--main-color-red);
    z-index: 1;
}
#title-3.appear {
    animation-name: title-3;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes title-3 {
    0%   { visibility: visible; }
    1%   { visibility: hidden; }
    10%  { visibility: hidden;}
    11%  { visibility: visible; }
    12%  { visibility: hidden; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
    13%  { visibility: visible; clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);}
    14%  { visibility: hidden; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
    15%  { visibility: hidden; transform: skew(0deg,0deg);}
    16%  { visibility: visible; transform: skew(10deg,0deg);}
    17%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); transform: skew(0deg,0deg);}
    20%  { clip-path: polygon(0% 20%, 100% 20%, 100% 30%, 0% 30%);}
    25%  { clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);}
    30%  { clip-path: polygon(0% 10%, 100% 10%, 100% 30%, 0% 30%);}
    40%  { clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);}
    50%  { clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 0% 10%);}
    65%  { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
    100% { visibility: visible; opacity: 1;}
}

/* Title Clip */
#title-2.clip {
    animation-name: clipOne;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    visibility: visible;
    opacity: 1;
    color: var(--main-dark-color);
    text-shadow: 0 1px 0px var(--main-dark-color), 0 -1px 0px var(--main-dark-color), -6px 0 0px var(--main-color-blue);
    z-index: 3;
    transform: translateX(6px);
}
@keyframes clipOne {
    0%   { clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%); }
    15%  { clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);}
    17%  { clip-path: polygon(0% 0%, 100% 00%, 100% 40%, 0% 40%);}
    18%  { clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);}
    59%  { clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);}
    60%  { clip-path: polygon(0% 50%, 100% 50%, 100% 90%, 0% 90%);}
    68%  { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);}
    100% { clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%); }
}
#title-3.clip {
    animation-name: clipTwo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    visibility: visible;
    opacity: 1;
    color: var(--main-dark-color);
    text-shadow: 0 1px 0px var(--main-dark-color), 0 -1px 0px var(--main-dark-color), -4px 0 0px var(--main-color-red);
    z-index: 4;
    transform: translateX(4px);
}
@keyframes clipTwo {
    0% { clip-path: polygon(0% 80%, 100% 80%, 100% 80%, 0% 80%);}
    75.8% { clip-path: polygon(0% 80%, 100% 80%, 100% 80%, 0% 80%);}
    75.9% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); text-shadow: 0 1px 0px var(--main-dark-color), 0 -1px 0px var(--main-dark-color), -4px 0 0px var(--main-color-red);}
    76% { clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%); transform: translateX(8px); text-shadow: -8px 0 0px var(--main-color-red);}
    78% { clip-path: polygon(0% 30%, 100% 30%, 100% 40%, 0% 40%); transform: translateX(8px); text-shadow: -8px 0 0px var(--main-color-red);}
    78.1% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%); text-shadow: 0 1px 0px var(--main-dark-color), 0 -1px 0px var(--main-dark-color), -4px 0 0px var(--main-color-red);}
    100% { clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);}
}

/* End title glitch */
#about-description {
    padding-bottom: 20px;
}
.about-code * {
    font-size: 28px;
    font-family: var(--code-font);
}
.about-code-black {
    margin-right: -0.2rem;
}
.about-code-red {
    color: var(--main-color-red);
}
.about-text {
    font-size: 24px;
    padding: 1rem 0 1rem 20px;
    color: var(--soft-text-color);
    max-width: 600px;
}
#about-button {
    opacity: 0;
}
.about-main-link > a {
    display: block;
}
.about-main-link-big {
    font-size: 150px;
    color: var(--main-color-red);
    font-weight: 900;
}
.about-main-link-description {
    display: block;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    margin-top: -22px;
    color: var(--main-dark-color);
}
#about-links li {
    opacity: 0;
}

/* Work */
.work-title-little {    
    font-size: 40px;
    color: var(--main-color-red);
    font-weight: 900;
}
.work-title-big {
    font-size: 150px;
    color: var(--main-color-red);
    display: block;
    font-weight: 900;
    line-height: 0.65;
    height: 1em;
    margin-left: -7px;
}
.work-text {    
    font-size: 22px;
    color: var(--soft-text-color);
    line-height: 1.4;
}
.work-info > .button {
    margin-top: 30px;
}
.work-showcase {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 65px -25px var(--main-color-red);
    margin-top: 30px;
}
.work-showcase-dev {
    box-shadow: none;
}
.work-showcase-dev > a {
    box-shadow: 0px 0px 65px -25px var(--main-color-red);
}
.work-item {
    width: 33.3%;
    flex-basis: 33.3%;
    position: relative;
    cursor: pointer;
}
.work-image {    
    background-size: cover;
}
.work-item:after {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 50%, #000000 200%);
    transition: opacity 300ms ease-in-out;
    opacity: 1;
}
.work-item:hover:after {
    transition: opacity 300ms ease-in-out;
    opacity: 0.5;
}
@keyframes vignette {
}
.work-image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Work Modal */
.work-modal {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 40px;
}
.work-modal-image {
    flex-basis: 60%;
    width: 60%;
}
.work-modal-image img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 5px var(--main-color-blue);
}
.work-modal-info {
    flex-basis: 40%;
    width: 40%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.work-modal-title {
    color: var(--main-color-blue);
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}
.work-modal-text {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
}
.work-modal-text a {
    color: var(--main-color-blue);
    transition: color 150ms ease-in-out;
}
.work-modal-text a:hover {
    color: #ffffff;
    transition: color 150ms ease-in-out;
}

/* Contact Section */
.contact-info {    
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact-info-item {
    text-align: center;
}
.contact-info-item svg {
    width: 92px;
    height: 92px;
    fill: var(--main-dark-color);
    transform: translateY(0);
    transition: fill 150ms ease-in-out, transform 150ms ease-in-out;
    margin-bottom: 5px;
}
.contact-info-item:hover svg {
    fill: var(--main-color-red);
    transform: translateY(-5px);
    transition: fill 150ms ease-in-out, transform 150ms ease-in-out;
}
.contact-info-text {
    font-size: 20px;
    font-weight: 500;
    color: var(--soft-text-color)
}